Test data array (rows) from sql:
<table>



{{#each sqlArray}}

    <tr>
      <form action="todoList" name="toDoThing" method="POST">
      <td>{{this.id}}<input type="hidden" name="id" value={{this.id}} /></td>
      <td><input type="text" name="item" value="{{this.item}}" /></td>
      <td>
        <button type="submit">change stuff</button>
        </form>
    </tr>



{{/each}}



</table>
