Test data array (rows) from sql:
<table>


<form action="todoList" method="POST">
{{#each sqlArray}}

    <tr>
      <td>{{this.id}}</td>
      <td><input type="text" name="item{{this.id}}" value="{{this.item}}" /></td>
    </tr>



{{/each}}

  <button type="submit">change stuff</button>
  </form>

</table>
